---
title: Le Wagon - Middleman
---

<div id="my-home">
  <div class="home-content">
    <%=  partial "layouts/banner"  %>
    <h2 class="text-center">Other cities</h2>
    <%=  partial "layouts/cards"  %>
  </div>
</div>
